# Querying NYC 311 Street Flooding Complaints Using sodapy 

Author: Mark Bauer

In [1]:
# importing libraries
import os
import numpy as np
import pandas as pd
from sodapy import Socrata

In [2]:
# nyc open data domain and 311 dataset id
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

# If you choose to use a token, run the following command on the terminal (or add it to your .bashrc)
# $ export SODAPY_APPTOKEN=<token>
socrata_token = os.environ.get("SODAPY_APPTOKEN")

# Preview and Explore the 311 Dataset
Practice querying using the sodapy client and basic query format.

In [3]:
# Socrata object to fetch data
client = Socrata(
    domain=socrata_domain,
    app_token=socrata_token,
    timeout=1000
)

print(client)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

<sodapy.socrata.Socrata object at 0x15b4b0730>

We use the Socrata `get` method to fetch data. Pass the `dataset id` and the `query` to this method.

In [4]:
query = """
SELECT 
    complaint_type, 
    count(complaint_type) AS count  
GROUP BY 
    complaint_type   
ORDER BY 
    count(complaint_type) DESC
LIMIT
    20
"""

# returned as JSON from API, converted to Python list of dictionaries by sodapy
results = client.get(socrata_dataset_identifier, query=query)

# convert to pandas DataFrame
results_df = pd.DataFrame(results)

print('shape of data: {}'.format(results_df.shape))
results_df

shape of data: (20, 2)

                         complaint_type    count
0                   Noise - Residential  3251598
1                       Illegal Parking  2306573
2                        HEAT/HOT WATER  2091727
3                      Blocked Driveway  1510728
4                      Street Condition  1234009
5               Noise - Street/Sidewalk  1164234
6                Street Light Condition  1127541
7   Request Large Bulky Item Collection  1073753
8                              PLUMBING   916788
9                               HEATING   887869
10                         Water System   870436
11                 UNSANITARY CONDITION   815023
12                                Noise   669285
13        General Construction/Plumbing   644306
14             Traffic Signal Condition   580995
15                   Noise - Commercial   575381
16                        PAINT/PLASTER   541227
17                 GENERAL CONSTRUCTION   500821
18                      Noise - Vehicle   499028
19                                Sewer   481450

**Table xx:** Count of NYC 311 complaints by complaint type.

In [5]:
query = """
SELECT 
    descriptor, 
    count(descriptor) AS count 
GROUP BY 
    descriptor    
ORDER BY 
    count(descriptor) DESC
LIMIT
    20
"""

results = client.get(socrata_dataset_identifier, query=query)
results_df = pd.DataFrame(results)

print('shape of data: {}'.format(results_df.shape))
results_df

shape of data: (20, 2)

                             descriptor    count
0                      Loud Music/Party  3579101
1                       ENTIRE BUILDING  1366218
2                             No Access  1125717
3   Request Large Bulky Item Collection  1073753
4                      Banging/Pounding   894750
5                                  HEAT   868960
6                      Street Light Out   829908
7                               Pothole   747055
8                        APARTMENT ONLY   725509
9                       Blocked Hydrant   646153
10        Posted Parking Sign Violation   574205
11                         Loud Talking   517578
12                                  N/A   488625
13                   With License Plate   441209
14                              CEILING   432758
15                                PESTS   415504
16                       Partial Access   385011
17                    Derelict Vehicles   384582
18                                 MOLD   351573
19                      Car/Truck Music   319285

**Table xx:** Count of NYC 311 complaints by descriptor.

In [6]:
query = """
SELECT 
    complaint_type,
    descriptor, 
    count(*) AS count  
GROUP BY 
    complaint_type, descriptor   
ORDER BY 
    count(*) DESC
LIMIT
    20
"""

results = client.get(socrata_dataset_identifier, query=query)
results_df = pd.DataFrame(results)

print('shape of data: {}'.format(results_df.shape))
results_df

shape of data: (20, 3)

,complaint_type,descriptor,count
0,Noise - Residential,Loud Music/Party,2163563
1,HEAT/HOT WATER,ENTIRE BUILDING,1366218
2,Blocked Driveway,No Access,1125717
3,Request Large Bulky Item Collection,Request Large Bulky Item Collection,1073753
4,Noise - Street/Sidewalk,Loud Music/Party,909386
5,HEATING,HEAT,868960
6,Noise - Residential,Banging/Pounding,836084
7,Street Light Condition,Street Light Out,829908
8,Street Condition,Pothole,744654
9,HEAT/HOT WATER,APARTMENT ONLY,725509
10,Illegal Parking,Blocked Hydrant,644097
11,Illegal Parking,Posted Parking Sign Violation,571315
12,Noise - Commercial,Loud Music/Party,438588
13,UNSANITARY CONDITION,PESTS,415504
14,Blocked Driveway,Partial Access,385011
15,Derelict Vehicles,Derelict Vehicles,384582
16,Illegal Parking,Blocked Sidewalk,304080
17,Traffic Signal Condition,Controller,303363
18,Noise - Vehicle,Car/Truck Music,301136
19,Noise,Noise: Construction Before/After Hours (NM1),272553

**Table xx:** Count of NCY 311 complaints by complaint type and descriptor.

In [7]:
query = """
SELECT 
    complaint_type, 
    count(complaint_type)
WHERE 
    LOWER(complaint_type) LIKE '%flood%'   
GROUP BY 
    complaint_type
ORDER BY 
    count(complaint_type) DESC
LIMIT
    10
"""

results = client.get(socrata_dataset_identifier, query=query)
results_df = pd.DataFrame(results)

print('shape of data: {}'.format(results_df.shape))
results_df

shape of data: (0, 0)

Empty DataFrame
Columns: []
Index: []

**Table xx:** Count of NYC 311 Complaints by complaint type where complaint type contains the word *flood*.

In [8]:
query = """
SELECT 
    descriptor, 
    count(descriptor) AS count
WHERE 
    LOWER(descriptor) LIKE '%flood%' 
GROUP BY 
    descriptor  
ORDER BY 
    count(descriptor) DESC
LIMIT
    20 
"""

results = client.get(socrata_dataset_identifier, query=query)
results_df = pd.DataFrame(results)

print('shape of data: {}'.format(results_df.shape))
results_df

shape of data: (13, 2)

                                          descriptor   count
0   Catch Basin Clogged/Flooding (Use Comments) (SC)  112362
1                               Street Flooding (SJ)   38140
2                               Flood Light Lamp Out    6482
3                              Highway Flooding (SH)    3130
4                           Flood Light Lamp Cycling    2590
5                                 Flooding on Street     673
6                                Ready NY - Flooding     271
7                        Flood Light Lamp Dayburning     225
8                           Flood Light Lamp Missing     211
9                               Flood Light Lamp Dim     185
10                     RAIN GARDEN FLOODING (SRGFLD)     152
11                                           Flooded      56
12                               Flooding on Highway      15

**Table xx:** Count of NYC 311 Complaints by descriptor where descriptor contains the word *flood*.

# 311 Street Flooding Complaints Query

Select all rows where `descriptor` is `Street Flooding (SJ)` and `created_date` is `between 2010 and 2020`. We use limit 100,000 as an approximate of all possible rows.

In [9]:
query = """
SELECT 
    *
WHERE 
    descriptor == 'Street Flooding (SJ)'
    AND created_date BETWEEN '2010' AND '2020'
LIMIT
    100000
"""

results = client.get(socrata_dataset_identifier, query=query)
results_df = pd.DataFrame(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head()

shape of data: (25747, 32)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,incident_zip,incident_address,street_name,...,open_data_channel_type,park_facility_name,park_borough,latitude,longitude,location,intersection_street_1,intersection_street_2,facility_type,due_date
0,45283755,2019-12-31T22:42:00.000,2020-01-07T11:07:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10306,131 GRIMSBY STREET,GRIMSBY STREET,...,ONLINE,Unspecified,STATEN ISLAND,40.57504060779978,-74.0931855786481,"{'latitude': '40.57504060779978', 'longitude':...",NaN,NaN,NaN,NaN
1,45283863,2019-12-31T17:34:00.000,2020-01-01T15:45:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10312,NaN,NaN,...,PHONE,Unspecified,STATEN ISLAND,40.56047555908232,-74.1668892252524,"{'latitude': '40.56047555908232', 'longitude':...",ARTHUR KILL ROAD,GETZ AVENUE,NaN,NaN
2,45279400,2019-12-31T16:11:00.000,2020-01-08T10:10:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10305,753 QUINCY AVENUE,QUINCY AVENUE,...,PHONE,Unspecified,STATEN ISLAND,40.576529751013474,-74.08418458891498,"{'latitude': '40.576529751013474', 'longitude'...",NaN,NaN,NaN,NaN
3,45277773,2019-12-31T15:42:00.000,2020-01-01T05:25:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11379,61-21 70 STREET,70 STREET,...,PHONE,Unspecified,QUEENS,40.72035428730757,-73.88758860416793,"{'latitude': '40.72035428730757', 'longitude':...",NaN,NaN,NaN,NaN
4,45282532,2019-12-31T12:18:00.000,2019-12-31T14:15:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11375,NaN,NaN,...,PHONE,Unspecified,QUEENS,40.721453503515995,-73.84397787334406,"{'latitude': '40.721453503515995', 'longitude'...",QUEENS BOULEVARD,71 AVENUE,NaN,NaN

In [10]:
# sanity checks
print('Number of total records: {:,}.\n'.format(results_df.shape[0]))
      
print('min date:', results_df['created_date'].min())
print('max date:', results_df['created_date'].max())

Number of total records: 25,747.

min date: 2010-01-02T08:26:00.000
max date: 2019-12-31T22:42:00.000

In [11]:
# summary of dataframe
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25747 entries, 0 to 25746
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      25747 non-null  object
 1   created_date                    25747 non-null  object
 2   closed_date                     25745 non-null  object
 3   agency                          25747 non-null  object
 4   agency_name                     25747 non-null  object
 5   complaint_type                  25747 non-null  object
 6   descriptor                      25747 non-null  object
 7   incident_zip                    24899 non-null  object
 8   incident_address                16188 non-null  object
 9   street_name                     16188 non-null  object
 10  cross_street_1                  22472 non-null  object
 11  cross_street_2                  22464 non-null  object
 12  address_type                    25741 non-null  object
 13  city                            24901 non-null  object
 14  status                          25747 non-null  object
 15  resolution_description          25743 non-null  object
 16  resolution_action_updated_date  25747 non-null  object
 17  community_board                 25747 non-null  object
 18  bbl                             14603 non-null  object
 19  borough                         25747 non-null  object
 20  x_coordinate_state_plane        24817 non-null  object
 21  y_coordinate_state_plane        24817 non-null  object
 22  open_data_channel_type          25747 non-null  object
 23  park_facility_name              25747 non-null  object
 24  park_borough                    25747 non-null  object
 25  latitude                        24817 non-null  object
 26  longitude                       24817 non-null  object
 27  location                        24817 non-null  object
 28  intersection_street_1           9616 non-null   object
 29  intersection_street_2           9616 non-null   object
 30  facility_type                   23295 non-null  object
 31  due_date                        1 non-null      object
dtypes: object(32)
memory usage: 6.3+ MB

In [12]:
# sort count nulls descending
(results_df
 .isnull()
 .sum()
 .sort_values(ascending=False)
)

due_date                          25746
intersection_street_2             16131
intersection_street_1             16131
bbl                               11144
incident_address                   9559
street_name                        9559
cross_street_2                     3283
cross_street_1                     3275
facility_type                      2452
location                            930
longitude                           930
latitude                            930
x_coordinate_state_plane            930
y_coordinate_state_plane            930
incident_zip                        848
city                                846
address_type                          6
resolution_description                4
closed_date                           2
open_data_channel_type                0
park_borough                          0
park_facility_name                    0
unique_key                            0
borough                               0
community_board                       0
created_date                          0
status                                0
descriptor                            0
complaint_type                        0
agency_name                           0
agency                                0
resolution_action_updated_date        0
dtype: int64

In [13]:
# writing output file as a csv
results_df.to_csv('../data/street-flooding-raw.csv', index=False)

# sanity check, listing items in data folder
%ls ../data/

README.md                       streets-clipped.gpkg
street-flooding-complaints.csv  water-main-break-raw.csv
street-flooding-raw.csv

# Sanity Check of CSV

In [14]:
df = pd.read_csv('../data/street-flooding-raw.csv', low_memory=False)

print('shape of data: {}'.format(df.shape))
df.head()

shape of data: (25747, 32)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,incident_zip,incident_address,street_name,...,open_data_channel_type,park_facility_name,park_borough,latitude,longitude,location,intersection_street_1,intersection_street_2,facility_type,due_date
0,45283755,2019-12-31T22:42:00.000,2020-01-07T11:07:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10306.0,131 GRIMSBY STREET,GRIMSBY STREET,...,ONLINE,Unspecified,STATEN ISLAND,40.575041,-74.093186,"{'latitude': '40.57504060779978', 'longitude':...",NaN,NaN,NaN,NaN
1,45283863,2019-12-31T17:34:00.000,2020-01-01T15:45:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10312.0,NaN,NaN,...,PHONE,Unspecified,STATEN ISLAND,40.560476,-74.166889,"{'latitude': '40.56047555908232', 'longitude':...",ARTHUR KILL ROAD,GETZ AVENUE,NaN,NaN
2,45279400,2019-12-31T16:11:00.000,2020-01-08T10:10:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10305.0,753 QUINCY AVENUE,QUINCY AVENUE,...,PHONE,Unspecified,STATEN ISLAND,40.576530,-74.084185,"{'latitude': '40.576529751013474', 'longitude'...",NaN,NaN,NaN,NaN
3,45277773,2019-12-31T15:42:00.000,2020-01-01T05:25:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11379.0,61-21 70 STREET,70 STREET,...,PHONE,Unspecified,QUEENS,40.720354,-73.887589,"{'latitude': '40.72035428730757', 'longitude':...",NaN,NaN,NaN,NaN
4,45282532,2019-12-31T12:18:00.000,2019-12-31T14:15:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11375.0,NaN,NaN,...,PHONE,Unspecified,QUEENS,40.721454,-73.843978,"{'latitude': '40.721453503515995', 'longitude'...",QUEENS BOULEVARD,71 AVENUE,NaN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25747 entries, 0 to 25746
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      25747 non-null  int64
 1   created_date                    25747 non-null  object
 2   closed_date                     25745 non-null  object
 3   agency                          25747 non-null  object
 4   agency_name                     25747 non-null  object
 5   complaint_type                  25747 non-null  object
 6   descriptor                      25747 non-null  object
 7   incident_zip                    24899 non-null  float64
 8   incident_address                16188 non-null  object
 9   street_name                     16188 non-null  object
 10  cross_street_1                  22472 non-null  object
 11  cross_street_2                  22464 non-null  object
 12  address_type                    25741 non-null  object
 13  city                            24901 non-null  object
 14  status                          25747 non-null  object
 15  resolution_description          25743 non-null  object
 16  resolution_action_updated_date  25747 non-null  object
 17  community_board                 25747 non-null  object
 18  bbl                             14603 non-null  float64
 19  borough                         25747 non-null  object
 20  x_coordinate_state_plane        24817 non-null  float64
 21  y_coordinate_state_plane        24817 non-null  float64
 22  open_data_channel_type          25747 non-null  object
 23  park_facility_name              25747 non-null  object
 24  park_borough                    25747 non-null  object
 25  latitude                        24817 non-null  float64
 26  longitude                       24817 non-null  float64
 27  location                        24817 non-null  object
 28  intersection_street_1           9616 non-null   object
 29  intersection_street_2           9616 non-null   object
 30  facility_type                   0 non-null      float64
 31  due_date                        1 non-null      object
dtypes: float64(7), int64(1), object(24)
memory usage: 6.3+ MB

There are two columns that we should probably drop due to enormous amounts of missing data, `facility_type` and `due_date`. We will dive in further in the EDA notebook.

# Water Main Break 311 Complaints
Understand the extent to which Water Main Break complaints are in the Street Flooding complaints data and possibly filter out of this analysis.

In [16]:
query = """
SELECT 
    descriptor, 
    count(descriptor) AS count
WHERE 
    LOWER(descriptor) LIKE '%water main break%' 
GROUP BY 
    descriptor  
ORDER BY 
    count(descriptor) DESC
LIMIT
    20 
"""

results = client.get(socrata_dataset_identifier, query=query)
results_df = pd.DataFrame(results)

print('shape of data: {}'.format(results_df.shape))
results_df

shape of data: (1, 2)

                                       descriptor  count
0  Possible Water Main Break (Use Comments) (WA1)  34929

In [17]:
query = """
SELECT 
    *
WHERE 
    descriptor == 'Possible Water Main Break (Use Comments) (WA1)'
    AND created_date BETWEEN '2010' AND '2020'
LIMIT
    100000
"""

results = client.get(socrata_dataset_identifier, query=query)
results_df = pd.DataFrame(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head()

shape of data: (22631, 32)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,incident_zip,intersection_street_1,intersection_street_2,...,latitude,longitude,location,incident_address,street_name,cross_street_1,cross_street_2,bbl,facility_type,due_date
0,45283877,2019-12-31T20:54:00.000,2019-12-31T21:13:00.000,DEP,Department of Environmental Protection,Water System,Possible Water Main Break (Use Comments) (WA1),11225,BALFOUR PLACE,LEFFERTS AVENUE,...,40.66271470256913,-73.94502153162954,"{'latitude': '40.66271470256913', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,45284034,2019-12-31T16:51:00.000,2019-12-31T23:06:00.000,DEP,Department of Environmental Protection,Water System,Possible Water Main Break (Use Comments) (WA1),11223,CONEY ISLAND AVENUE,AVENUE P,...,40.6099860917828,-73.96237779787793,"{'latitude': '40.6099860917828', 'longitude': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,45277785,2019-12-31T16:21:00.000,2019-12-31T16:35:00.000,DEP,Department of Environmental Protection,Water System,Possible Water Main Break (Use Comments) (WA1),11434,NaN,NaN,...,40.6668699461907,-73.77817975716783,"{'latitude': '40.6668699461907', 'longitude': ...",166-04 SOUTH CONDUIT AVENUE,SOUTH CONDUIT AVENUE,166 ST,167 ST,4132680231,NaN,NaN
3,45284212,2019-12-31T14:28:00.000,2019-12-31T14:31:00.000,DEP,Department of Environmental Protection,Water System,Possible Water Main Break (Use Comments) (WA1),11208,NaN,NaN,...,40.66567858155824,-73.8695135648926,"{'latitude': '40.66567858155824', 'longitude':...",864 EUCLID AVENUE,EUCLID AVENUE,LORING AVE,STANLEY AVE,3045050119,NaN,NaN
4,45284289,2019-12-31T12:35:00.000,2019-12-31T12:35:00.000,DEP,Department of Environmental Protection,Water System,Possible Water Main Break (Use Comments) (WA1),11214,BENSON AVENUE,BAY 17 STREET,...,40.60601492456077,-74.00516797310992,"{'latitude': '40.60601492456077', 'longitude':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# sanity checks
print('Number of total records: {:,}.\n'.format(results_df.shape[0]))
      
print('min date:', results_df['created_date'].min())
print('max date:', results_df['created_date'].max())

Number of total records: 22,631.

min date: 2010-01-01T06:28:00.000
max date: 2019-12-31T20:54:00.000

In [19]:
# summary of dataframe
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22631 entries, 0 to 22630
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      22631 non-null  object
 1   created_date                    22631 non-null  object
 2   closed_date                     22628 non-null  object
 3   agency                          22631 non-null  object
 4   agency_name                     22631 non-null  object
 5   complaint_type                  22631 non-null  object
 6   descriptor                      22631 non-null  object
 7   incident_zip                    22055 non-null  object
 8   intersection_street_1           7445 non-null   object
 9   intersection_street_2           7445 non-null   object
 10  address_type                    22627 non-null  object
 11  city                            22058 non-null  object
 12  status                          22631 non-null  object
 13  resolution_description          22630 non-null  object
 14  resolution_action_updated_date  22631 non-null  object
 15  community_board                 22631 non-null  object
 16  borough                         22631 non-null  object
 17  x_coordinate_state_plane        21965 non-null  object
 18  y_coordinate_state_plane        21965 non-null  object
 19  open_data_channel_type          22631 non-null  object
 20  park_facility_name              22631 non-null  object
 21  park_borough                    22631 non-null  object
 22  latitude                        21965 non-null  object
 23  longitude                       21965 non-null  object
 24  location                        21965 non-null  object
 25  incident_address                15249 non-null  object
 26  street_name                     15249 non-null  object
 27  cross_street_1                  19863 non-null  object
 28  cross_street_2                  19829 non-null  object
 29  bbl                             13420 non-null  object
 30  facility_type                   21119 non-null  object
 31  due_date                        20 non-null     object
dtypes: object(32)
memory usage: 5.5+ MB

In [20]:
# sort count nulls descending
(results_df
 .isnull()
 .sum()
 .sort_values(ascending=False)
)

due_date                          22611
intersection_street_1             15186
intersection_street_2             15186
bbl                                9211
incident_address                   7382
street_name                        7382
cross_street_2                     2802
cross_street_1                     2768
facility_type                      1512
y_coordinate_state_plane            666
x_coordinate_state_plane            666
longitude                           666
location                            666
latitude                            666
incident_zip                        576
city                                573
address_type                          4
closed_date                           3
resolution_description                1
park_borough                          0
unique_key                            0
park_facility_name                    0
open_data_channel_type                0
created_date                          0
community_board                       0
resolution_action_updated_date        0
status                                0
descriptor                            0
complaint_type                        0
agency_name                           0
agency                                0
borough                               0
dtype: int64

In [21]:
# writing output file as a csv
results_df.to_csv('../data/water-main-break-raw.csv', index=False)

# sanity check, listing items in data folder
%ls ../data/

README.md                       streets-clipped.gpkg
street-flooding-complaints.csv  water-main-break-raw.csv
street-flooding-raw.csv

In [22]:
# close client
client.close()